node_modules
.DS_Store
*/.DS_Store

contracts/*.ocre
contracts/*.json

/chunk*.js

build
/.idea/workspace.xml
contractSessions

*.map

userdata
peacock_patcher.conf

resources/rpkg-cli.exe

components/contracts.json
DEBUG_PROFILE.json

assembled
webui/dist

.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
options.ini

*.tsbuildinfo

images
/.idea/shelf/
offlineassets.zip

resources/contracts.br
resources/challenges
resources/mastery

/*.plugin.*
/*Plugin.*
/resources/dynamic_resources_h1/REPO/006D6B8D26B0F442.REPO
/resources/dynamic_resources_h1/REPO/006D6B8D26B0F442.REPO.meta
