* text=auto eol=lf
*.{png,jpg,exe} binary
.yarn/releases/*.cjs linguist-generated
resources/dynamic_resources_h1/** linguist-generated
resources/dynamic_resources_h2/** linguist-generated
resources/dynamic_resources_h3/** linguist-generated
resources/LOCR/** linguist-generated
